In [11]:
import pandas as pd

In [32]:
while True:

      number = input("Enter a non-negative integer number: ")
      try:
        number =int(number)
      except:
        print('Please use numeric digits.')
        continue
      if number < 1:
        print('Please enter a positive value.')
        continue
      break

Enter a non-negative integer number: g
Please use numeric digits.
Enter a non-negative integer number: 12

In [33]:
even = []
odd = []
fibo = [0,1]

for i in range(number):
  even.append(2*i)
  odd.append(2*i+1)
  
  if i > 1: fibo.append(fibo[i+-2]+fibo[i-1])

In [35]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [36]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [37]:
fibo

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [34]:
results = pd.DataFrame({'Even': even,
        'Odd': odd,
        'Fibo': fibo})
results

    Even  Odd  Fibo
0      0    1     0
1      2    3     1
2      4    5     1
3      6    7     2
4      8    9     3
5     10   11     5
6     12   13     8
7     14   15    13
8     16   17    21
9     18   19    34
10    20   21    55
11    22   23    89